body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 600px;
}

.card-header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-description {
    padding: 10px;
    flex-grow: 1;
}

.card-footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: space-between;
}

.info-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bot-info {
    display: flex;
    align-items: center;
}

.bot-icon {
    font-size: 20px;
    margin-right: 5px;
}

.info-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bot-count {
    font-size: 16px;
}

.card-link:hover .card-header {
  background-color: #0056b3;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card:has(.card-link:nth-of-type(1):hover) {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.add-game-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: auto;
    font-size: 40px;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.add-game-card:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.add-game-card:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}
